extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- fontawesome
  <script src="https://kit.fontawesome.com/fd280b8079.js" crossorigin="anonymous"></script>
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  .header-div
    a(href='/')
      img(src="../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      ul(class='nav-container')
        li(class='nav-link-wrapper')
          a(class='nav-link' href="/users/register") Register
        li(class='nav-link-wrapper')
          a(class='nav-link' href="/users/login") Login

block content
  div.index-text-container
    h1(class='index-text') The smart to-do app for busy people.
  div.main-wrapper
    div.berriesAndThoughts
      div(id="thought-right")
        div(id="words-right")
        img(src='thought-bubble-right.png' class="bubble-right")
      img(src='Member-berries.png' class="berries")
      div(id ="thought-left")
        div(id ="words-left")
        img(src='thought-bubble-left.png' class="bubble-left")
  footer.footer-links
    div.left-footer
      div.left-foot-title
        h1(class='footer-title') Benjamin Yoo
      div.left-github
        a(href="https://github.com/Byoo522")
          i(class="fab fa-github")
      div.left-linkedin
        a(href="https://www.linkedin.com/in/benjaminyoo")
          i(class="fab fa-linkedin")
    div.right-footer
      div.right-foot-title
        h1(class='footer-title') Kathleen Young
      div.right-github
        a(href="https://github.com/cheshirekate8")
          i(class="fab fa-github")
      div.right-linkedin
        a(href="https://www.linkedin.com/in/dev-kathleen-young")
          i(class="fab fa-linkedin")
