extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/forms.css")
  link(rel="stylesheet" href="/stylesheets/list-new.css")

  .header-div
    a(href='/home')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      ul(class='nav-container')
        li(class='nav-link-wrapper')
          a(class='nav-link' href="/users/logout") Logout

block content
  .main
    a(href='/home') Home
    body
      div= list.name
        p Delete this list?
          form(action=`/lists/${list.id}/delete` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit') Delete List
          a(class='btn btn-warning ml-2' href='/home' role='button')
            button Cancel
