extends layout

include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/forms.css")
  link(rel="stylesheet" href="/stylesheets/task-new.css")

  .header-div
    a(href='/')
      img(src=" ../berry-single.png", class= "berry-single")
    h1(class="iMember-h1") iMember
    div.logButtons
      a(href='/users/logout' class="logout-container")
        button(name="New List" class="logout-button") Logout

block content
    .main
      a(href='/') Home
      +validationErrorSummary(errors)
      body
        form(action="/tasks/new" method="post")
          input(type="hidden", name="_csrf" value=csrfToken)
          +field('Task', 'content', task.content)
          +field('Due Date', 'dueDate', task.dueDate, 'date')
          +field('Due Time', 'dueTime', task.dueTime, 'time')
          div.formGroup
            label(for="priority") Priority
            select(name="priority" value=task.priority)
              option= 1
              option= 2
              option= 3
          div.formGroup
            label(for="listId") Which list?
            select(name="listId")
              each list in lists
                option(value=task.list_Id) #{list.name}
                script
                  =console.log('LIST ID HEREEEEEEEE =>', list.id)
          div.buttonGroup
            button(type="submit") Create
