body {
    background-color: #fff;
}

.berries {
    margin-top: 10vh;
    height: 513px;
    width: 311px;
    background-color: #fff;
}

.main-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;

}

.berriesAndThoughts {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    position: static;
    background-color: #fff;
   }

.bubble-left,
.bubble-right {
    width: 200px;
    height: 170px;
}

.bubble-left {
    margin-bottom: 135px;
    background-color: #fff;
}

.bubble-right {
    margin-bottom: -30px;
    background-color: #fff;
}

#words-left,
#words-right {
    position: absolute;
    width: 135px;
    margin-left: 30px;
    margin-top: 65px;
    text-align: center;
}

/* new code */
/* NAVBAR CSS TO USE ACROSS TEMPLATES */
.iMember-h1 {
    color: #fff;
}

.index-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.index-text {
    font-size: 30px;
    font-family: sans-serif;
}

.nav-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-link-wrapper {
    color: #fff;
    font-size: 16px;
    border: 0.1em solid var(--c);
    border-radius: 0.5em;
    width: 100px;
    height: 3em;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    /* position: relative; */
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    padding-top:15px;
}

.nav-link {
    align-items: baseline;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
}

.nav-link:hover {
    color: #A48ABF;
    text-decoration: underline overline #A48ABF;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main-wrapper {
    height: 80vh;
}

.footer-links {
    font-family: sans-serif;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #443A7B;
}

.footer-title {
    font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.left-footer {
    display: flex;
    justify-content: space-evenly;
}

.right-footer {
    display: flex;
    justify-content: space-evenly;
}


.fab .fa-github {
    size: 20px;
}
